@model Tuple<ToDoApp.Models.User,ToDoApp.Models.ToDos>

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ToDos</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item2.ToDo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item2.ToDo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item2.user)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item1.Email)
        </dd>
    </dl>

    <form asp-action="ConfirmDelete" method="post">
        <input style="display:none" type="text"  name="toDoId" value="@Model.Item2.Id" readonly />
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>
