@model Tuple<Microsoft.AspNetCore.Identity.IdentityUser, List<MyToDos.Models.ToDos>>
@{
    Layout = null;
 }
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ToDoApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="ToDo" asp-action="Index">MyToDos</a>
                <ul class="navbar-nav">
                    
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
                    </form>
                </li>
                </ul>
            </div>
        </nav>
    </header>
    <div>
        <div class="container m-5 p-2 rounded mx-auto bg-light shadow">
            <!-- App title section -->
            <div class="row m-1 p-4">
                <div class="col">
                    <div class="p-1 h1 text-primary text-center mx-auto display-inline-block">
                        <i class="fa fa-check bg-primary text-white rounded p-2"></i>
                        <u>My ToDos</u>
                    </div>
                </div>
            </div>
            <!-- Create todo section -->
            <div class="row m-1 p-3">
                <div class="col col-11 mx-auto">

                    <div class="row bg-white rounded shadow-sm p-2 add-todo-wrapper align-items-center justify-content-center">
                        <div class="col">
                            <input class="form-control form-control-lg border-0 add-todo-input bg-transparent rounded" type="text" id="NewTodo" name="todo" placeholder="Add new ...">
                        </div>
                        <div class="col-auto px-0 mx-0 mr-2">
                            <button type="button" id="button" onclick="CreateTodo()" class="btn btn-primary">Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-2 mx-4 border-black-25 border-bottom"></div>
            <!-- Todo list section -->
            <div class="row mx-1 px-5 pb-3 w-80">
                <div class="col mx-auto">
                    <!-- Todo Item 1 -->
                    <div class="row px-3 align-items-center todo-item rounded">
                        <table class="table" id="">
                            <thead>

                                <tr>
                                    <th>#</th>
                                    <th>ToDos</th>
                                    <th>User Name</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Item2)
                                {
                                    <tr>

                                        <td>
                                            @item.Id
                                        </td>

                                        <td>
                                            @item.ToDo
                                        </td>
                                        <td>
                                            @Model.Item1.UserName
                                        </td>
                                        <td>
                                            <a asp-action="Edit" asp-route-Id="@item.Id"><i class="fa fa-pencil-square-o" style="font-size:20px" aria-hidden="true"></i></a>
                                            <a asp-action="Delete" asp-route-Id="@item.Id" asp-route-UserId="@item.UserId"><i class="fa fa-trash-o" style="font-size:24px;color:red" onclick="sendData()"></i></a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function CreateTodo() {
            $.ajax({
                type: "POST",
                url: "/ToDo/Create",
                data: {
                    todo: $("#NewTodo").val()
                },
                success: function (response) {
                    if (response == "Ok") {
                        toastr.success("ToDo Added");
                        setTimeout(location.reload.bind(location), 6000);
                    }
                    else {
                        alert(response);
                    }
                }
            })
        };
    </script>

</body>
</html>